.container{
  background-color: #f3f5f7;
}
.card-ui{
  display: grid;
  grid-template-columns: 410px 410px 300px;
}
.total-players{
  width: 400px;
  height: 160px;
  margin: 25px;
  padding: 10px;
  background-color: #fff8f8;
}
.add-team{
  width: 700px;
  height: 160px;
  margin: 25px;
  padding: 10px;
  background-color: #fff8f8;
}
.team-show{
  display: flex;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
